<div class="login">
  <div class="heading">
    <h2>Monopoly</h2>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <form action="#">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username or email">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password">
        </div>

        <button onclick="document.location='board.html'">Login</button>

       </form>
         </div>
 </div>

 <!DOCTYPE html>
<html>